#about-container, #trashmap-container, #contact-container {
  scroll-margin-top: 100px;
}

#navigation-bar {
  background-color: #658E9C;
  font-family: "Lucida Bright", Georgia, serif;
}

.navbar-links {
  margin-right: 100px;
  font-size: x-large;
}

#navigation-bar a {
  color: white;
}

.navbar-link:hover, .navbar-link.active {
  text-shadow: 0 0 10px gray, 0 0 20px rgb(87, 87, 87), 0 0 30px rgb(34, 34, 34);
  transform: scale(1.1);
}

#brand {
  margin-left: 50px;
  font-size: xx-large;
  color: white;
}

#main{
  background-color: #004D21;
} 

.box{
  background-color: rgb(136, 123, 10);
  padding: 25px;
  margin-bottom: 35px;
  border-radius: 25px;
  font-family: "Lucida Bright", Georgia, serif;
  color: white;
  box-shadow: 1px 1px 10px 10px rgba(5, 5, 5, 0.466);
}

#about-paragraph {
  font-size: 20px;
  padding: 25px 25px 0px 25px;
}

#trashmap-container-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#trashmap-container {
  max-width: fit-content;
  padding: 30px;
}

.pic {
  border-radius: 15px;
  margin-top: 10px;
}

#about-container {
  max-width: 500px;
}

.form-input-bar {
  max-width: 500px;
}

#form {
  width: 500px;
}

#contact-container {
  max-width: 550px;
}

#footer {
  background-color: #658E9C;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}