/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body, html, #root, .App{
  height: 100%;
}

/*:root {
  --dark-mode-gray: rgb(64, 64 ,64);
  --light-mode-offwhite: #56585a4d;
  --background-offwhite: rgb(240, 230, 230);
}*/

#navigation-bar {
  color: white;
  background-color: #658E9C;
  font-family: "Lucida Bright", Georgia, serif;
}

.navbar-brand {
  margin-left: 50px;
  font-size: xx-large;
  color: white !important;
}

.navbar-links {
  margin-right: 200px;
  font-size: xx-large;
}

.navbar-link {
  color: white;
  transition: all 0.1s ease-in-out;
}

.navbar-link:hover, .navbar-link.active {
  color: white !important;
  text-shadow: 0 0 10px gray, 0 0 20px rgb(87, 87, 87), 0 0 30px rgb(34, 34, 34);
  transform: scale(1.1);
}

#brand {
  pointer-events: none;
}

.wrapper{
  background-color: #004D21;
}

.box{
  background-color: rgb(136, 123, 10);
  padding: 15px;
  border-radius: 25px;
  font-family: "Lucida Bright", Georgia, serif;
  color: white;
  box-shadow: 1px 1px 10px 10px rgba(5, 5, 5, 0.466);
}

.center {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.height100{
  height: 100%;
}

.row-space{
  margin-top: 15px;
  margin-bottom: 15px;
}

#footer {
  background-color: #658E9C;
  font-family: "Lucida Bright", Georgia, serif;
  color: white;
  padding-top: 10px;
}

.center-component{
  align-items: center;
  justify-content: center;
  display: flex;
}

#grid-container {
  padding-bottom: 15px;
}