$white-color: white;
$nav-footer-color: $white-color;
$font-family_1: "Lucida Bright", Georgia, serif;
$background-color_1: #658E9C;
$background-color_2: #004D21;
$background-color_3: rgb(136, 123, 10);
$small-font: 18px;
$medium-font: 24px;
$large-font: 32px;
$light-gray: gray;
$medium-gray: rgb(87, 87, 87);
$dark-gray: rgb(34, 34, 34);
